APP_NAME=Disccloud
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://disccloud.test

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=disccloud
DB_USERNAME=root
DB_PASSWORD=
# WhatsApp Cloud API
WHATSAPP_PHONE_ID=
WHATSAPP_TOKEN=
WHATSAPP_NUMBER=628xxxxxxxxxx
