/vendor/
/node_modules/

/.env
.env.*

!/.env.example

/public/storage

/storage/*.key

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

.phpunit.result.cache

npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db